# Allows to subscribe to events and signals
blinker==1.4
# Used to serve the application
gunicorn==20.1.0
# Flask libs
Flask==1.1.2
Flask-Env==2.0.0
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
# PostgreSQL driver
#psycopg2==2.8.3
# Used to serve static files using wsgi
whitenoise==5.2.0
# For testing
pytest==6.2.4
pytest-cov==2.12.0
