# Allows to subscribe to events and signals
blinker==1.4
# Used to serve the application
gunicorn==20.1.0
# Flask libs
Flask==2.1.0
Flask-Env==2.0.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
# PostgreSQL driver
#psycopg2==2.9.1
# Used to serve static files using wsgi
whitenoise==6.0.0
# For testing
pytest==7.1.1
pytest-cov==3.0.0
