APP_DEBUG=true
APP_DB_NAME=postgres
APP_DB_PORT=5432
APP_DB_SERVICE_NAME=postgresql
APP_DB_ENGINE=postgresql
APP_DB_USER=postgres
APP_DB_PASS=postgres

# import os
# os.urandom(24)
APP_SECRET_KEY='\xd2\xb79\xa9s\x81\x01\xe9\xa7g\xe9I\xda2\xb7\xbbu\x17\xe6\x82\xd1\xbcs\x99'
